			<div class="col">
				<form name="newContacto" ng-submit="ctrl.saveNewContact()">
					<label for="nombre">Nombre</label>
					<input id="nombre" name="nombre" ng-model="ctrl.contacto.firstName">
					<label for="nombre">Apellidos</label>
					<input id="apellidos" name="apellidos" ng-model="ctrl.contacto.lastName">
					<label for="nombre">Teléfono</label>
					<input id="telefono" name="telefono" ng-model="ctrl.contacto.tel">
					
					<a href="{{::'#/'}}" class="boton">Volver</a>
				</form>
			</div>