			<div class="col">
				<form name="newContacto" ng-submit="ctrl.saveNewContact()">
					<label for="nombre">Nombre</label>
					<input id="nombre" name="nombre" ng-model="ctrl.nuevoContacto.nombre">
					<label for="nombre">Apellidos</label>
					<input id="apellidos" name="apellidos" ng-model="ctrl.nuevoContacto.apellidos">
					<label for="nombre">Teléfono</label>
					<input id="telefono" name="telefono" ng-model="ctrl.nuevoContacto.telefono">
					<input type="submit" value="Guardar">
					<input type="button" value="Cancelar" ng-click="ctrl.resetContact()">
				</form>
			</div>
			<div class="col"> 
				<ul ng-cloak>
					<li ng-repeat="contacto in ctrl.contactos">
						<a href="{{::'#/detalle/'+contacto.id}}" class="vermas">
					<p>{{contacto.lastName}}, {{contacto.firstName}}</p>
					<p>{{contacto.tel}}</p>
					
						</a>
						<a href ng-click="ctrl.borraContacto(contacto.id)" class="eliminar">X</a>
					</li>
				</ul>
			</div>