/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************************/
[ng\:cloak], [ng-cloak], .ng-cloak {
 	display: none !important;
}

.col{
	width: 50%;
	float:left;
	padding: 10px;
	box-sizing: border-box;
}

body{
	background: #ccc;
	font-family: Arial, sans-serif;
}
header{
	background: #276e9f;
	padding: 20px;
	box-shadow: 5px 0px 5px #333;
}
header h1{
	color: #fff;
	font-size: 30px;
}
header h1 span{
	color: #fff;
	font-size: 12px;
}

main{
	padding: 20px;
	box-sizing: border-box;
}

main form input{
	box-sizing: border-box;
	border: none;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}
main form label{
	margin-bottom: 4px;
	display: block;
}
main form input[type="submit"],main form input[type="button"], .boton{
	border: none;
	padding: 10px;
	display: inline-block;
	width: auto;
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	cursor: pointer;
	background-color: #276e9f;
	text-decoration: none;
	color: #fff;
}
main form input[type="submit"]:hover,main form input[type="button"]:hover, .boton:hover{
	background-color: #fff;
	color: #000;
}
main ul{
	padding-top: 20px;
}
main ul li{
	background-color: #fff;
	
	box-shadow: 3px 3px 5px #888;
	margin-bottom: 10px;
	position: relative;
}

main ul li .eliminar{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #000;
	font-size: 20px;
	text-decoration: none;
}
main ul li .vermas{
	color: #000;
	text-decoration: none;
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	display: block;
}
main ul li .vermas:hover{
	background-color: #eee;
}

@media(max-width: 700px){
	.col{
	width: 100%;
	}
}
